*{
    margin: 0px;
    padding: 0px;
}
.nav-wrapper{
    background-color:white;
    border-bottom: 2px solid khaki;
}

.banner{
    background-color:#00468C;
    height:450px;
}
.banner-left{
    width:50%;
    padding: 5em 2em;
}

.who-we-are-section{
    
    width: 90%;
    margin: 0px auto;
    display:flex;
    align-items: center;
}

.who-we-are{
    background-color: snow;
}

.who-we-are h4{ margin-top: 0px;
    padding: 40px;

}

.SignUp, .SignIn{
    width:40%;
    margin:50px auto;
    padding:20px;
    border:2px solid blue;
}

.SignupTitle, .SignInTitle{
    display:block;
    text-align: center;
    font-size: 40px;
}

input{
    width:100%;
    padding: 10px 12px;
}
.buttonSignUp, .buttonSignIn{
    width:100%;
    margin-bottom:10px;
}

.errorMessage {
    color:red;
    text-align: center;
}
